*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: crimson;
}

img{
  width: 100px;
  float: left;
}


h1{
  text-align: center;
  color:white;
}

.box{
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.generi{
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottoni{
  margin-left: 45%;
  margin-top: 20px;
}

.bottoni button{
  width: 80px;
  height: 30px;
  color: red;
}

.principale{
  border: 1px solid black;
  background-color: grey;
}

p{
  font-size: 30px;
}
/* biglietto nascosto */

.info{
  height: 100px;
  border: 1px solid black;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}


.box2{
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  padding: 12px;
}

.iltuo{
  margin-top: 15px;
}
